@model IEnumerable<Bán_hàng.Areas.Admin.Models.SanPham>

@{
    ViewData["Title"] = "Trang chu";
    Layout = "~/Views/Shared/_NguoiDungLayout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<input class="my-4 ml-4" id="TuKhoa" placeholder="Tìm gì?" />
<button id="Seach" class="btn btn-primary">Seach</button>
<div class="mb-4" id="ketqua"></div>

<div id="default">
    <form>
        <div class="container-fluid abc">
            <div class="row abc">
                @foreach (var item in Model)
                {
                    <div class="col-sm-3 col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="~/ADMIN/Images/@item.Hinh" />
                            <div class="card-body">
                                <h3 class="card-title">@item.Tensp</h3>
                                <p class="card-text">@item.Dongia đ</p>
                                <button asp-action="ViewBuy" class="btn btn-success btn-block">Mua ngay</button>
                                <button asp-action="Items" asp-route-ID="@item.Masp" class="btn btn-secondary btn-block">Thêm vào giỏ hàng</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#Seach").click(function () {
            $("#default").html("");
            $.ajax({
                url: "/NguoiDung/Search",
                type: "post",
                data: {
                    "Keyword": $('#TuKhoa').val().trim()
                },
                success: function (data) {
                    $("#ketqua").html(data);
                }
            });
        });
    });
</script>
