@model IEnumerable<Bán_hàng.Areas.Admin.Models.SanPham>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<form>
    <div class="container-fluid abc">
        <div class="row abc">
            @foreach (var item in Model)
            {
                <div class="col-sm-3 col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="~/ADMIN/Images/@item.Hinh" />
                        <div class="card-body">
                            <h3 class="card-title">@item.Tensp</h3>
                            <p class="card-text text-success">@string.Format("{0:n0}",item.Dongia) đ</p>
                            <p id="Masp">Số lượng còn: @item.Soluong</p>
                            <button asp-action="ViewBuy" class="btn btn-success btn-block">Mua ngay</button>
                            <button asp-action="Items" asp-route-ID="@item.Masp" id="AddGioHang" class="btn btn-secondary btn-block">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</form>
@*<script>
    $(document).ready(function () {
        $("#AddGioHang").click(function () {
            
            $.ajax({
                url: "/NguoiDung/Items",
                type: "",
               
                success: function (data) {
                    if (data == "True") {
                        swal("Hello world!");
                    }

                }
            });
        });
    });
</script>*@