@model BanHang.Models.TaiKhoanKhachHang

@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}

<!DOCTYPE html>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng ký</title>
</head>
<body>
    <h2 class="text-center text-success">Đăng ký tài khoản</h2>
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-md-4">
                <form asp-action="DangKy">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input id="input1" name="Username" asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                        <p class="erorrUsername thongbao text-danger"></p>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input id="input2" name="Password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <p class="erorrPassword thongbao text-danger"></p>
                        <p class="thongbao text-danger">@ViewBag.Thongbao</p>
                    </div>
                  
                    <div class="form-group">
                        <input id="BtnLogin" type="submit" value="Đăng ký" class="btn btn-primary btn-block" />
                    </div>
                </form>
                <div>
                    <a asp-action="Index">Trở về trang chủ</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#input1").change(function () {
                $(".thongbao").html("");
            });
            $("#input2").change(function () {
                $(".thongbao").html("");
            });
            $('#BtnLogin').click(function () {
                var val1 = $("#input1").val();
                var val2 = $("#input2").val();
                $(".erorrUsername").html("");
                $(".erorrPassword").html("");
                if (val1 == "") {
                    $(".erorrUsername").html("Vui lòng nhập tài khoản!");
                    return false;
                }
                if (val2 == "") {
                    $(".erorrPassword").html("Vui lòng nhập mật khẩu!");
                    return false;
                }
            });
        });
    </script>
</body>
</html>
