@model Bán_hàng.Areas.Admin.Models.KhachHang

@{
    ViewData["Title"] = "Đặt hàng";
    Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<p id="return">@ViewBag.Return</p>
<div class="container">
    <div class="row">
        <div class="col-4">
            <form asp-action="AddKH">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TenKH" class="control-label"></label>
                    <input id="input1" asp-for="TenKH" class="form-control" />
                    <span asp-validation-for="TenKH" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiaChi" class="control-label"></label>
                    <input id="input1" asp-for="DiaChi" class="form-control" />
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SDT" class="control-label"></label>
                    <input id="input2" asp-for="SDT" class="form-control" />
                    <span asp-validation-for="SDT" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input id="input3" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p class="text-success my-2">
                        Tổng tiền cần thanh toán là:
                        <span class="text-danger font-weight-bold" style="font-size:1.2em">@string.Format("{0:n0}",ViewBag.TongTien) đ</span>
                    </p>
                    <button id="DatHang" type="submit" class="btn btn-primary btn-block">Đặt hàng</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#return").hide();
        if ($("#return").html() == "True") {
            swal({
                title: "Đặt hàng thành công!!!",
                text: "Trở về trang chủ...",
                icon: "success",
                button: "OK",
            }).then((value) => {
                if (value == true) {
                    window.location.href = "https://localhost:44395/NguoiDung/Index";
                }
            });
        }
    });
</script>