
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewDangNhap</title>
</head>
<body>
    <form asp-action="DangNhap">
        <input name="a" type="text"/>
        <input name="b" type="password"/>
        <button type="submit">login</button>
    </form>
</body>
</html>
