<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="~/OneTech/styles/bootstrap4/bootstrap.min.css">
    <link href="~/OneTech/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/OneTech/styles/cart_styles.css">
    <link rel="stylesheet" type="text/css" href="~/OneTech/styles/cart_responsive.css">

</head>

<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header">

            <!-- Top Bar -->

            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex flex-row">
                            <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="~/OneTech/images/phone.png" alt=""></div>+38 068 005 3570</div>
                            <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="~/OneTech/images/mail.png" alt=""></div><a href="~/OneTech/mailto:fastsales@gmail.com">fastsales@gmail.com</a></div>
                            <div class="top_bar_content ml-auto">
                                <div class="top_bar_menu">
                                    <ul class="standard_dropdown top_bar_dropdown">
                                        <li>
                                            <a href="~/OneTech/#">English<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li><a href="~/OneTech/#">Italian</a></li>
                                                <li><a href="~/OneTech/#">Spanish</a></li>
                                                <li><a href="~/OneTech/#">Japanese</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="~/OneTech/#">$ US dollar<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li><a href="~/OneTech/#">EUR Euro</a></li>
                                                <li><a href="~/OneTech/#">GBP British Pound</a></li>
                                                <li><a href="~/OneTech/#">JPY Japanese Yen</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="top_bar_user">
                                    <div class="user_icon"><img src="~/OneTech/images/user.svg" alt=""></div>
                                    <div><a href="~/OneTech/#">Register</a></div>
                                    <div><a href="~/OneTech/#">Sign in</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Main -->

            <div class="">
                <div class="container">
                    <div class="row">

                        <!-- Logo -->
                        <div class="col-lg-2 col-sm-3 col-3 order-1">
                            <div class="mt-5">
                                <div class="logo"><a href="~/OneTech/#">OneTech</a></div>
                            </div>
                        </div>

                        <!-- Search -->
                        <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                            <div class="mt-5">
                                <div class="header_search_content">
                                    <div class="header_search_form_container">
                                        <form action="#" class="header_search_form clearfix">
                                            <input type="search" required="required" class="header_search_input" placeholder="Search for products...">
                                            <div class="custom_dropdown">
                                                <div class="custom_dropdown_list">
                                                    <span class="custom_dropdown_placeholder clc">All Categories</span>
                                                    <i class="fas fa-chevron-down"></i>
                                                    <ul class="custom_list clc">
                                                        <li><a class="clc" href="~/OneTech/#">All Categories</a></li>
                                                        <li><a class="clc" href="~/OneTech/#">Computers</a></li>
                                                        <li><a class="clc" href="~/OneTech/#">Laptops</a></li>
                                                        <li><a class="clc" href="~/OneTech/#">Cameras</a></li>
                                                        <li><a class="clc" href="~/OneTech/#">Hardware</a></li>
                                                        <li><a class="clc" href="~/OneTech/#">Smartphones</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <button type="submit" class="header_search_button trans_300" value="Submit"><img src="~/OneTech/images/search.png" alt=""></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Wishlist -->
                        
                    </div>
                </div>
            </div>

            <!-- Main Navigation -->

            

            <!-- Menu -->

            <div class="page_menu">
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <div class="page_menu_content">

                                <div class="page_menu_search">
                                    <form action="#">
                                        <input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">
                                    </form>
                                </div>
                                <ul class="page_menu_nav">
                                    <li class="page_menu_item has-children">
                                        <a href="~/OneTech/#">Language<i class="fa fa-angle-down"></i></a>
                                        <ul class="page_menu_selection">
                                            <li><a href="~/OneTech/#">English<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="~/OneTech/#">Italian<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="~/OneTech/#">Spanish<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="~/OneTech/#">Japanese<i class="fa fa-angle-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li class="page_menu_item has-children">
                                        <a href="~/OneTech/#">Currency<i class="fa fa-angle-down"></i></a>
                                        <ul class="page_menu_selection">
                                            <li><a href="~/OneTech/#">US Dollar<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="~/OneTech/#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="~/OneTech/#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="~/OneTech/#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li class="page_menu_item">
                                        <a href="~/OneTech/index.html">Home<i class="fa fa-angle-down"></i></a>
                                    </li>
                                    <li class="page_menu_item has-children">
                                        <a href="~/OneTech/#">Super Deals<i class="fa fa-angle-down"></i></a>
                                        <ul class="page_menu_selection">
                                            <li><a href="~/OneTech/#">Super Deals<i class="fa fa-angle-down"></i></a></li>
                                            <li class="page_menu_item has-children">
                                                <a href="~/OneTech/#">Menu Item<i class="fa fa-angle-down"></i></a>
                                                <ul class="page_menu_selection">
                                                    <li><a href="~/OneTech/#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                    <li><a href="~/OneTech/#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                    <li><a href="~/OneTech/#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                    <li><a href="~/OneTech/#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="~/OneTech/#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="~/OneTech/#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="~/OneTech/#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li class="page_menu_item has-children">
                                        <a href="~/OneTech/#">Featured Brands<i class="fa fa-angle-down"></i></a>
                                        <ul class="page_menu_selection">
                                            <li><a href="~/OneTech/#">Featured Brands<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="~/OneTech/#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="~/OneTech/#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="~/OneTech/#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li class="page_menu_item has-children">
                                        <a href="~/OneTech/#">Trending Styles<i class="fa fa-angle-down"></i></a>
                                        <ul class="page_menu_selection">
                                            <li><a href="~/OneTech/#">Trending Styles<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="~/OneTech/#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="~/OneTech/#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="~/OneTech/#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li class="page_menu_item"><a href="~/OneTech/blog.html">blog<i class="fa fa-angle-down"></i></a></li>
                                    <li class="page_menu_item"><a href="~/OneTech/contact.html">contact<i class="fa fa-angle-down"></i></a></li>
                                </ul>

                                <div class="menu_contact">
                                    <div class="menu_contact_item"><div class="menu_contact_icon"><img src="~/OneTech/images/phone_white.png" alt=""></div>+38 068 005 3570</div>
                                    <div class="menu_contact_item"><div class="menu_contact_icon"><img src="~/OneTech/images/mail_white.png" alt=""></div><a href="~/OneTech/mailto:fastsales@gmail.com">fastsales@gmail.com</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <div class="container-fluid">
            @RenderBody()
        </div>


        <!-- Footer -->

        <footer class="footer" style="background-color:rgba(198, 194, 194, 0.62)">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 footer_col">
                        <div class="footer_column footer_contact">
                            <div class="logo_container">
                                <div class="logo"><a href="~/OneTech/#">OneTech</a></div>
                            </div>
                            <div class="footer_title">Got Question? Call Us 24/7</div>
                            <div class="footer_phone">+38 068 005 3570</div>
                            <div class="footer_contact_text">
                                <p>17 Princess Road, London</p>
                                <p>Grester London NW18JR, UK</p>
                            </div>
                            <div class="footer_social">
                                <ul>
                                    <li><a href="~/OneTech/#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="~/OneTech/#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="~/OneTech/#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="~/OneTech/#"><i class="fab fa-google"></i></a></li>
                                    <li><a href="~/OneTech/#"><i class="fab fa-vimeo-v"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 offset-lg-2">
                        <div class="footer_column">
                            <div class="footer_title">Find it Fast</div>
                            <ul class="footer_list">
                                <li><a href="~/OneTech/#">Computers & Laptops</a></li>
                                <li><a href="~/OneTech/#">Cameras & Photos</a></li>
                                <li><a href="~/OneTech/#">Hardware</a></li>
                                <li><a href="~/OneTech/#">Smartphones & Tablets</a></li>
                                <li><a href="~/OneTech/#">TV & Audio</a></li>
                            </ul>
                            <div class="footer_subtitle">Gadgets</div>
                            <ul class="footer_list">
                                <li><a href="~/OneTech/#">Car Electronics</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="footer_column">
                            <ul class="footer_list footer_list_2">
                                <li><a href="~/OneTech/#">Video Games & Consoles</a></li>
                                <li><a href="~/OneTech/#">Accessories</a></li>
                                <li><a href="~/OneTech/#">Cameras & Photos</a></li>
                                <li><a href="~/OneTech/#">Hardware</a></li>
                                <li><a href="~/OneTech/#">Computers & Laptops</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="footer_column">
                            <div class="footer_title">Customer Care</div>
                            <ul class="footer_list">
                                <li><a href="~/OneTech/#">My Account</a></li>
                                <li><a href="~/OneTech/#">Order Tracking</a></li>
                                <li><a href="~/OneTech/#">Wish List</a></li>
                                <li><a href="~/OneTech/#">Customer Services</a></li>
                                <li><a href="~/OneTech/#">Returns / Exchange</a></li>
                                <li><a href="~/OneTech/#">FAQs</a></li>
                                <li><a href="~/OneTech/#">Product Support</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

        <!-- Copyright -->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                            <div class="copyright_content">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="~/OneTech/https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </div>
                            <div class="logos ml-sm-auto">
                                <ul class="logos_list">
                                    <li><a href="~/OneTech/#"><img src="~/OneTech/images/logos_1.png" alt=""></a></li>
                                    <li><a href="~/OneTech/#"><img src="~/OneTech/images/logos_2.png" alt=""></a></li>
                                    <li><a href="~/OneTech/#"><img src="~/OneTech/images/logos_3.png" alt=""></a></li>
                                    <li><a href="~/OneTech/#"><img src="~/OneTech/images/logos_4.png" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/OneTech/js/jquery-3.3.1.min.js"></script>
    <script src="~/OneTech/styles/bootstrap4/popper.js"></script>
    <script src="~/OneTech/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/OneTech/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/OneTech/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/OneTech/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/OneTech/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/OneTech/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/OneTech/plugins/easing/easing.js"></script>
    <script src="~/OneTech/js/cart_custom.js"></script>
</body>

</html>