@model IEnumerable<Bán_hàng.Areas.Admin.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="ketqua">
   @await Html.PartialAsync("PartialViewSanPhamAdmin.cshtml")
</div>